<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.justinyan.justfocus</string>
	<key>connections</key>
	<dict>
		<key>796B84BC-8E30-4C13-BDE2-18AC78CBAB0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9605A5D5-D04C-4A95-AA3E-31D033F1DC19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ClimStudio</string>
	<key>description</key>
	<string>Focus on What's Important.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JustFocus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	if ((q as string) is equal to "po") then
		tell application "JustFocus"
			launch
			start pomodoro
		end tell
	else if ((q as string) is equal to "sb") then
		tell application "JustFocus"
			launch
			short break
		end tell
	else if ((q as string) is equal to "lb") then
		tell application "JustFocus"
			launch
			long break
		end tell
	else if ((q as string) is equal to "stop") then
		tell application "JustFocus"
			stop
		end tell
	end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>9605A5D5-D04C-4A95-AA3E-31D033F1DC19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Start Pomodoro","arg":"po","subtitle":"25 minutes"},{"title":"Stop","arg":"stop"},{"title":"Take a Short Break","arg":"sb","subtitle":"5 minutes"},{"title":"Take a Long Break","arg":"lb","subtitle":"30 min"}]</string>
				<key>keyword</key>
				<string>jf</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Just Focus</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>796B84BC-8E30-4C13-BDE2-18AC78CBAB0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>JustFocus for Mac
Focus on What's Important.

Official website:
https://getjustfocus.com</string>
	<key>uidata</key>
	<dict>
		<key>796B84BC-8E30-4C13-BDE2-18AC78CBAB0A</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>9605A5D5-D04C-4A95-AA3E-31D033F1DC19</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://getjustfocus.com/</string>
</dict>
</plist>
